{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "tickets" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "tickets" %}</h2>
{% if ticket.count > 0 %}
<!-- <div style="margin-top: 5px; margin-bottom: 5px"> -->
	<!-- <a class="btn btn-outline-success" style="width:120px" href="">{% trans "Add" %}</a> -->
<!-- </div> -->
<table id="myTable" class="table-manager" style="width:100%">
	<thead>
		<tr>
			<th><p>{% trans "datet" %}</p></th>
			<th><p>{% trans "user" %}</p></th>
			<th><p>{% trans "concert" %}</p></th>
			<th><p>{% trans "place" %}</p></th>
			<th><p>{% trans "price" %}</p></th>
			<!--<th></th>-->
			<th><p></p></th>				
		</tr>
	</thead>
	<tbody>
		{% for n in ticket %}
		<tr>
			<td>
				<p>{{ n.datet | date:"d.m.Y H:i"}}</p>
			</td>
			<td>
				<p>{{ n.user }}</p>						
			</td>
			<td>
				<p>{{ n.concert }}</p>						
			</td>
			<td>
				<p>{{ n.place }}</p>						
			</td>
			<td>
				<p>{{ n.price | stringformat:"1.0f" }} ₽</p>						
			</td>
			<!--
			<td>
				{% if n.photo.url != None %}
				<img style="width:100%; max-width:256px; padding:10px" src="{{ n.photo.url}}" alt="{{ n.photo.url }}">
				{% endif %}	
			</td>
			-->
			<td>
				<p>
				<!-- <a class="btn btn-outline-primary" style="width:120px; margin: 2px;" href="{% url 'ticket_edit' n.id %}">{% trans "Change" %}</a>  -->
				<a class="btn btn-outline-info" style="width:120px; margin: 2px;" href="{% url 'ticket_read' n.id %}">{% trans "View" %}</a> 
				<!-- <a class="btn btn-outline-danger" style="width:120px; margin: 2px;" onclick="return confirm('Удалить запись?')" href="{% url 'ticket_delete' n.id %}">{% trans "Delete" %}</a> -->
				</p>
			</td>			
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<!-- <a href="{% url 'ticket_create'%}">{% trans "Add" %}</a> -->
{% endif %}
{% endblock content %}

