{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "citys" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "citys" %}</h2>
{% if city.count > 0 %}
<div style="margin-top: 5px; margin-bottom: 5px">
	<a class="btn btn-outline-success" style="width:120px" href="{% url 'city_create'%}">{% trans "Add" %}</a>
</div>
<table id="myTable" class="table-manager" style="width:100%">
	<thead>
		<tr>
			<th><p>{% trans "city_title" %}</p></th>
			<th><p></p></th>				
		</tr>
	</thead>
	<tbody>
		{% for p in city %}
		<tr>
			<td><p>{{ p.title }}</p></td>
			<td>
				<p>
				<a class="btn btn-outline-primary" style="width:120px; margin: 2px;" href="{% url 'city_edit' p.id %}">{% trans "Change" %}</a> 
				<a class="btn btn-outline-info" style="width:120px; margin: 2px;" href="{% url 'city_read' p.id %}">{% trans "View" %}</a> 
				<a class="btn btn-outline-danger" style="width:120px; margin: 2px;" onclick="return confirm('Удалить запись?')" href="{% url 'city_delete' p.id %}">{% trans "Delete" %}</a>
				</p>
			</td>			
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<a class="btn btn-outline-success"  href="{% url 'city_create'%}">{% trans "Add" %}</a>
{% endif %}
{% endblock content %}

