{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Read" %}{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
<h2>{% trans "hall" %}</h2>
<div class="row justify-content-center">
	<div class="card" style="width:100%">
		<div class="card-header">
			<h4>{{ hall.city }}</h4>	
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-8">	
					<h3>{{ hall.title }}</h3>					
									
				</div>
				<div class="col-md-4">
					{% if hall.photo.url != None %}
						<img style="width:100%; max-width:400px;" src="{{ hall.photo.url}}" alt="{{ hall.photo.url }}">
					{% endif %}
				</div>
			</div>				
		</div>
		<div class="card-footer">				
			<p>{% trans "capacity" %}: {{ hall.capacity }}</p>			
		</div>		
	</div>
	<a class="btn btn-outline-info" style="width:120px; margin: 2px;" onclick="history.back()">{% trans "Back" %}</a>    	
</div>

{% endblock content %}